<% @posts.each do |post| %>
  <h2> <%= post.title %> </h2><br>
  <%="by #{post.author}"%>
  <p class="content"> <%= post.content %> </p>
  <p><img src="<%= post.images %>" class="postsimgvid"></p>
  <p> <%= "#{post.created_at.strftime("%b %d, %Y")}" %> </p>
  
  <form ation="/posts/<%= post.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>

<% end %>